<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>gc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>servlet.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/HelloWorldServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HelloWorldServlet1</servlet-name>
    <servlet-class>servlet.RefreshTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet1</servlet-name>
    <url-pattern>/HelloWorldServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginValidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>servlet.CartInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindStockServlet</servlet-name>
    <servlet-class>servlet.FindStocks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindStockServlet</servlet-name>
    <url-pattern>/findstock</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderConfirmServlet</servlet-name>
    <servlet-class>servlet.OrderConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderConfirmServlet</servlet-name>
    <url-pattern>/orderconfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartDeleteServlet</servlet-name>
    <servlet-class>servlet.CartDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartDeleteServlet</servlet-name>
    <url-pattern>/cartdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderSubmitServlet</servlet-name>
    <servlet-class>servlet.OrderSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderSubmitServlet</servlet-name>
    <url-pattern>/ordersubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddressInsertServlet</servlet-name>
    <servlet-class>servlet.AddressInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressInsertServlet</servlet-name>
    <url-pattern>/addressinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendMailServlet</servlet-name>
    <servlet-class>servlet.SendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMailServlet</servlet-name>
    <url-pattern>/sendmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchShoesServlet</servlet-name>
    <servlet-class>servlet.SearchShoes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchShoesServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderDetailServlet</servlet-name>
    <servlet-class>servlet.OrderDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetailServlet</servlet-name>
    <url-pattern>/order_detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UseCouponServlet</servlet-name>
    <servlet-class>servlet.UseCoupon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UseCouponServlet</servlet-name>
    <url-pattern>/use_coupon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayChart</servlet-name>
    <url-pattern>/DisplayChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchShoesAdvancedServlet</servlet-name>
    <servlet-class>servlet.SearchShoesAdvanced</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchShoesAdvancedServlet</servlet-name>
    <url-pattern>/advance_search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CouponInsertServlet</servlet-name>
    <servlet-class>servlet.CouponInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CouponInsertServlet</servlet-name>
    <url-pattern>/coupon_insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowCouponServlet</servlet-name>
    <servlet-class>servlet.ShowCoupon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCouponServlet</servlet-name>
    <url-pattern>/show_coupon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CouponGetServlet</servlet-name>
    <servlet-class>servlet.CouponGet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CouponGetServlet</servlet-name>
    <url-pattern>/get_coupon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SystemStatisticServlet</servlet-name>
    <servlet-class>servlet.SystemStatistic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemStatisticServlet</servlet-name>
    <url-pattern>/system_statistic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StoreShoesServlet</servlet-name>
    <servlet-class>servlet.Store_Shoes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreShoesServlet</servlet-name>
    <url-pattern>/store_shoe</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>OrderReturnServlet</servlet-name>
    <servlet-class>servlet.OrderReturn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderReturnServlet</servlet-name>
    <url-pattern>/order_return</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>login</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>login</filter-name>
    <url-pattern>/home.jsp</url-pattern>
    <url-pattern>/cart.jsp</url-pattern>
    <url-pattern>/advance_search</url-pattern>
    <url-pattern>/my_order.jsp</url-pattern>
    <url-pattern>/my_information.jsp</url-pattern>
  </filter-mapping>
</web-app>